#myProgress{
    position: relative;
    width: 300px;
    height: 30px;
    background-color: #ddd;
}

#myBar{
    position: absolute;
    width: 10%;
    height: 100%;
    background-color: navy;
}

#label{
    text-align: center;
    line-height: 30px;
    color: white;
}










.popup{
    position: relative;
    display: inline-block;
    cursor: pointer;
    margin: 50px;
}

.popup .popuptext{
    visibility: hidden;
    width: 160px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
}

.popup .popuptext::after{
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555;
}

.popup .show{
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}

@-webkit-keyframes fadeIn{
    from{opacity: 0;}
    to{opacity: 1;}
}

@keyframes fadeIn{
    from{opacity: 0;}
    to{opacity: 1;}
}