button.accordion{
    background-color: #eee;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    transition: 0.4s;
}

button.accardion.active,
button.accardoin:hover{
    background-color: #ddd;
}

div.panel{
    padding: 0 18px;
    background-color: white;
    display: none;
}

div.panel.show{
    display: block;
}
