#block{
    width: 200px;
    height: 100px;
    background: navy;
}

.menu-item{
    border:2px solid red;
    display: inline-block;
    position: relative;
    cursor:pointer;
}

.menu-item .submenu{
    height: 40px;
    width: 120px;
    background: aqua;
    position: absolute;
    cursor: pointer;
}