body{
background-color:#c3c3c3;
background-image:url(../imagess/pattern.png);   
margin:0;
padding:0;
}

#main{
width:800px;
height:991px;    
margin:29px auto;
outline:0px solid #E20408;
background-image:url(../imagess/bg.jpg);
}

#main h1{
text-align:center;
outline:0px solid #cc0000;
padding-top:182px;
font:36px verdana;
background-image:url(../imagess/logo.png); 
background-repeat:no-repeat;
background-position:124px 190px; 
}

#wrapper{
outline:0px solid #cc0000;
background: url(../imagess/tel.jpg) no-repeat fixed 0px 120px;
}