body{
    font:11px verdana,sans-serif;
    color:#333333;
}

#wrapper{
    width:500px;
}

.question{
    font-weight:bold;
}

fieldset{
    padding:10px 10px;
    margin:10px;
    border:1px solid #cccccc;
    background-color: #fcfcfc;
}

textarea{
    border:1px solid #333333;
    background-color: #f4f9ff;
    width:470px;
    margin:2px 10px;
    font:12px verdana;
}

textarea:focus{
    border:1px solid #2074D9;
    background-color: #ffffff;
}



.tp{
    margin-left: 20px;
}


.input{
    border:1px solid #333333;
    height:27px;
    background-image: url(../imagess/inputbg.jpg);
    background-repeat:repeat-x;
    width: 300px;
    font:12px verdana;
    line-height: 27px;
    padding:0 7px;
}



.input:focus{
    border:1px solid #2074D9;
    background: none;
    background-color: #ffffff; 
}



label{
    cursor:pointer;
}
