body{
font:14px tahoma;
color:#333333;
padding:13px;
margin:0 auto;
width:1000px;
background-color:#ffffff;
}

P,#myList{
Color:#404040;
}

#header,#test{
text-align:center;
text-transform:capitalize;
padding:40px;
margin:20px auto;
width:550px;
background-color:#B40600;
color:#ffffff;
border:1px solid #23E2A9;
}

#bt h2{
color:#0000FF;   
}

a:link{
color:#000000;    
}

a:visited{
color:#FF00AE;    
}

a:hover{
color:#c32017;    
}

a:active{
color:#0000FF;    
}

p{
text-indent:20px;
}

.new2{
font-style:italic;   
}


.new3{
font-weight:200;
text-decoration:underline;    
}

a{
text-decoration:none;
border-bottom:1px dashed #cc0000;

}

.new4{
text-align:justify;
}

ul {
list-style-image:url(../imagess/arrow.png);   
}

table,th,td{
border:1px solid #E20004;
}

table{
width:700px;
text-align:center;
border-collapse:collapse;
margin: 25px auto;    
}

th,td{
height:50px;
padding:5px;
vertical-align:top;
background-color: #ffffff;   
}

th{
background-color:#A8E2C3;
background-image:url(../imagess/tablebg.jpg);    
}

tr.blue td{ 
background-color: #23E2A9;
}

#myimg{
    float: right;
    border:none;
    margin:20px 0 20px 20px;
}