#wrapper{
    width:800px;
    outline:1px solid #cccccc;
    padding:10px;
    margin:0 auto;
}

#header{
    height:77px;
    background-color: #f6ac18;
    margin-bottom: 12px;
}






#sidebarL{
    
    background-color: #D0D99D;
    margin-bottom: 12px;
    width: 150px;
    float:left;
}

#sidebarR{
    
    background-color: #D0D99D;
    margin-bottom: 12px;
    width: 150px;
    float:right;
}


#content{
    
    background-color: #D9000E;
    margin:0 160px 12px auto;
    width: 480px;
}





#footer{
    height:77px;
    background-color: #111111;
    margin-bottom: 12px;
}

.clear{
    clear:both;
}