@import url("Pstyle.css");


body{
    background-color: #D2D1D3;
    font:11px verdana;
    color:#696969;
}



#wrapper{
    width:650px;
    margin:30px auto;
    background-color: #F5F4F6;
}


#header{
    height:75px;
    background-image: url(../imagess/redHeader.png);
    background-repeat: no-repeat;
    position: relative;
}





#content{
padding:20px 30px;
}


#new{
    position: absolute;
    top:0;
    left:0;
}


#button{
    position: absolute;
    left:294px;
    top:-14px;
    z-index: 1;
}


#bird{
    position: absolute;
    left:270px;
    top:-3px;
    z-index: 2;
}

#operator{
    position: fixed;
    width:22px;
    height:180px;
    top:250px;
    left:0;

}

#operator img{
    border: none;
}


#test{
    visibility: hidde;
    padding:inherit;
}
