.container{
    width: 100%;
    max-width: 960px;
    margin: 0 auto; 
    display: flex;
    flex-wrap: wrap;
}

.block-first{
    background: red;
    min-height: 430px;
    font-size: 40px;
    color: white;
    flex: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-right{
    margin-left: 30px;
    display: flex;
    flex: 0 0 220px;
    flex-direction: column;
}

.block-item{
    background: red;
    min-height: 200px;
    font-size:40px;
    color: white;
    flex:auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.block-item:last-child{
    margin-bottom: 0;
}

